$bg-color: rgb(20, 20, 20);
$primary-color: #f06c78;
$highlight-color: #ff8796;
$font-color: white;

// $bg-color: white;
// $primary-color: #ff9078;
// $highlight-color: #ffb496;
// $font-color: black;
